header{
	/*width: 1000px;*/
	position:relative;
	height: 200px;
	font-family: 'Poiret One', cursive;
	text-align:center;
	background: #FFA58A url(../images/logocuisine.png)50px no-repeat;
	z-index:10;
  	opacity:0.7;
  	filter:alpha(opacity=50);	
	overflow:hidden;

}


header h1{
	color:white;
	font-size:40px;
}

header p{

	color:white;
}


header a,
header a:link,
header a:visited,
header a:active,
header a:hover{
	color:white;
	text-decoration:none;
	
}

header a:hover{
	text-decoration:underline;
}